---
---

@import "{{ site.theme }}";

body {
    background: #111111;
}

a {
    color: #777777;
}

hr {
    display: none;
}

.wrapper {
    max-width: 800px;
    width: 800px;
}

section #title h1 {
    font-size: 60px;
}

#header nav li a {
    background-color: #777777;
    border-color: #444444;

}