---
---

@import "{{ site.theme }}";

body {
    background: #000000;
}

a {
    color: #888888;
}

a:hover {
    color: #9d0316;
}

hr {
    display: none;
}

section, .wrapper {
    max-width: 750px;
    width: 750px;
}

.wrapper {
    background: #111111;
    border-right: 2px solid #666666;
    border-left: 2px solid #666666;
}

section #title h1 {
    font-size: 60px;
}

#header nav li a {
    background-color: #777777;
    border-color: #444444;
}

#header nav li a:hover {
    background-color: #b41042;
    border-color: #444444;
}