---
---

@import "{{ site.theme }}";

body {
    background: #111111;
}

a {
    color: #888888;
}

a:hover {
    color: #b41042
}

hr {
    display: none;
}

section, .wrapper {
    max-width: 800px;
    width: 800px;
}

section #title h1 {
    font-size: 60px;
}

#header nav li a {
    background-color: #777777;
    border-color: #444444;
}

#header nav li a:hover {
    background-color: #b41042;
    border-color: #444444;
}